.minor-section {
    padding: 1px;
    margin-bottom: 1px;
    border: solid 50px rgb(141, 126, 243);
    background-color: #3f24d9;
}


h1 {
    color: rgb(14, 80, 30);
    font-size: 300%;
}

p {
    text-indent: 0px;
    margin-left: 10px;
    color:rgb(13, 100, 25)
}

#content {
    border: dashed 20px #741909
}