.minor-section {
    padding: 1px;
    margin-bottom: 1px;
    border: solid 50px rgb(141, 126, 243);
    background-color: #3f24d9;
}


h1 {
    color: rgb(19, 112, 42);
    font-size: 250%;
    margin-left: 500px;
}

p {
    text-indent: 0px;
    margin-left: 10px;
    color:rgb(13, 100, 25)
}

#content {
    border: dotted 10px #8c1f0c
}

.img-class {
    margin: 10px;
    max-width: 700px;
}