/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 100px;
    margin-bottom: 70px;
    border: solid 1px #429;
    background-color: #DDD885;
}


h1 {
    color: purple;
    font-size: 200%;
}

p {
    text-indent: 0px;
    margin-left: 10px;
    font-size: 300%;
}

#content {
    border: dotted 4px #327654;
    width: 1600px;
}