/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 50px;
    margin-bottom: 50px;
    border: solid 1px #999;
    background-color: #DDD875;
}


h1 {
    color: purple;
    font-size: 200%;
}

p {
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    border: dotted 4px #327654;
}